---
import type { ShortPageData } from "../shared/type";
import { getReadingTime } from "../shared/reading-time";

interface Props {
  post: ShortPageData;
}

const { post } = Astro.props;
---

<div class="mb-8 border rounded-lg shadow-sm hover:shadow-md transition-shadow bg-white">
  <div class="p-6">
    <a href={`/post/${post.id}`} class="group block">
      <div class="flex gap-6 <md:flex-col">
        {post.cover && (
          <div class="w-48 h-32 shrink-0 <md:w-full <md:h-48">
            <img class="w-full h-full rounded-lg object-cover" src={post.cover.src} alt={post.cover.alt} />
          </div>
        )}
        <div class="flex flex-col gap-2 flex-1">
          <div class="flex gap-2 flex-wrap">
            {post.tags.map((tag) => (
              <a
                href={`/tag/${encodeURIComponent(tag)}`}
                class="inline-flex items-center text-sm px-3 py-1 bg-gray-50 text-gray-600 rounded-full hover:bg-gray-100 transition-colors group">
                <div class="i-ri:price-tag-3-line w-3.5 h-3.5 mr-1 text-gray-400 group-hover:text-gray-600 transition-colors"></div>
                {tag}
              </a>
            ))}
          </div>
          
          <h2 class="text-2xl font-bold <md:text-xl text-gray-900">
            <a href={`/post/${post.id}`} class="hover:text-primary transition-colors">
              {post.title}
            </a>
          </h2>
          <p class="text-gray-600 line-clamp-2">{post.intro}</p>
          <div class="flex items-center gap-4 text-sm text-gray-500">
            <div class="flex items-center gap-2">
              <img src="/images/authors/avatar.jpg" alt="loveclx" class="w-4 h-4 rounded-full object-cover" />
              <span>loveclx</span>
            </div>
            <div class="flex items-center gap-2">
              <div class="i-ri:time-line w-4 h-4 opacity-60"></div>
              <time data-acc-time={post.createTime}></time>
            </div>
            <div class="flex items-center gap-2">
              <div class="i-ri:book-read-line w-4 h-4 opacity-60"></div>
              <span>{getReadingTime(post.intro)} min read</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
